$colorPrimary: rgba(175, 47, 47, 0.15);

.TodoItems {
  .todo-list {
    .todo-item {
      display: flex;
      overflow: hidden;
      position: relative;
      .check-wrapper {
        display: flex;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 8px;
        margin: auto 0;
        justify-content: center;
        align-items: center;
        .icon-checked, .icon-unchecked {
          font-size: 40px;
        }
      }
      .item-content {
        flex: 1;
        line-height: 1;
        font-weight: 100;
        font-size: 24px;
        padding: 10px 15px 10px 60px;
        word-break: break-all;
      }
      &.completed {
        color: #d9d9d9;
        text-decoration: line-through;
        .check-wrapper {
          .icon-unchecked {
            color: red;
          }
        }
      }
    }
  }
  .TodoItems-footer {
    padding: 10px 0 10px 15px;
    color: #777;
    min-height: 40px;
    text-align: center;
    border-top: 1px solid #e6e6e6;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 50px;
      overflow: hidden;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
    }
    .filters {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      font-weight: 100;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      .filters-all, .filters-active, .filters-completed {
        color: inherit;
        margin: 3px;
        padding: 3px 7px;
        text-decoration: none;
        border: 1px solid transparent;
        border-radius: 3px;
        cursor: pointer;
        &.active {
          border-color: rgba(175, 47, 47, 0.2);
        }
        &:hover {
          border-color: rgba(175, 47, 47, 0.1)
        }
      }
    }
    .clear-completed {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      font-weight: 100;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}