.TodoItems .todo-list .todo-item {
  display: flex;
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid #ededed; }

.TodoItems .todo-list .todo-item .check-wrapper {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 8px;
  z-index: 1;
  cursor: pointer;
  margin: auto 0;
  justify-content: center;
  align-items: center; }

.TodoItems .todo-list .todo-item .check-wrapper .icon-checked, .TodoItems .todo-list .todo-item .check-wrapper .icon-unchecked {
  font-size: 40px; }

.TodoItems .todo-list .todo-item .item-content {
  flex: 1;
  line-height: 1;
  font-weight: 100;
  font-size: 24px;
  padding: 10px 15px 10px 60px;
  word-break: break-all;
  position: relative; }

.TodoItems .todo-list .todo-item .item-content:hover .icon-close {
  display: inline-block; }

.TodoItems .todo-list .todo-item .item-content .icon-close {
  position: absolute;
  right: 20px;
  display: none;
  cursor: pointer; }

.TodoItems .todo-list .todo-item .item-content .icon-close:hover {
  color: rgba(175, 47, 47, 0.5); }

.TodoItems .todo-list .todo-item.completed {
  color: #d9d9d9;
  text-decoration: line-through; }

.TodoItems .todo-list .todo-item.completed .check-wrapper .icon-unchecked {
  color: red; }

.TodoItems .TodoItems-footer {
  padding: 10px 0 10px 15px;
  color: #777;
  min-height: 40px;
  text-align: center;
  position: relative; }

.TodoItems .TodoItems-footer::before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 50px;
  overflow: hidden;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2); }

.TodoItems .TodoItems-footer .filters {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-weight: 100;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  user-select: none; }

.TodoItems .TodoItems-footer .filters .filters-all, .TodoItems .TodoItems-footer .filters .filters-active, .TodoItems .TodoItems-footer .filters .filters-completed {
  color: inherit;
  margin: 3px;
  padding: 3px 7px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer; }

.TodoItems .TodoItems-footer .filters .filters-all.active, .TodoItems .TodoItems-footer .filters .filters-active.active, .TodoItems .TodoItems-footer .filters .filters-completed.active {
  border-color: rgba(175, 47, 47, 0.2); }

.TodoItems .TodoItems-footer .filters .filters-all:hover, .TodoItems .TodoItems-footer .filters .filters-active:hover, .TodoItems .TodoItems-footer .filters .filters-completed:hover {
  border-color: rgba(175, 47, 47, 0.1); }

.TodoItems .TodoItems-footer .clear-completed {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 100;
  cursor: pointer; }

.TodoItems .TodoItems-footer .clear-completed:hover {
  text-decoration: underline; }
